body {
    background-color: #343434;
    color:bisque;
}

.blue {
    color: blue
}
.honey {
    color: honeydew;
}
.big {
    font-size: 2em;
}

#scrollable {
    position: relative;
    background-color: lightblue;
    color: blue;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    margin: 1em;
    overflow: auto;
}